body {
  background-image: url("https://github.com/Lucas-Ribeiro-Da-Silva/Lucas-Ribeiro-Da-Silva/blob/56cf992956d05ed4c8b9a31621bffabd5b9b9887/DALL-E-telaHomeRoxaResponsiva.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
